img.logo {
	width: 70%;
}

a.navbar-brand {
	width: 10%;
}

.search-bar {
	width: 80%;
}

.button-transparent {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}

.button-width{
	width: 20%;
}

.text-width{
	width: 100%;
	height: 20%;
}

.card{
	margin: auto;
	margin-top: 20px;
}

.bg-all{
	background-color: #dae0e6;
}

.contain{
	width: 80%;
	margin: auto;
}

.card-img{
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}
body {
  
  align-items: center;
  padding-bottom: 40px;
  background-color: #dae0e6;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin  {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin  {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
